services:
  api:
    build:
      context: .
      target: prod
    ports:
      - "8080:8080"
    networks:
      - myapp
    volumes:
      - ./src:/app/src
      - ./models:/app/models
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 10s



  dev:
    build:
      context: .
      target: dev #FOR JUPYTER
    ports:
      - "8888:8888" #can access with any ip
    networks:
      - myapp
    volumes:
      - ./notebooks:/app/notebooks
      - ./src:/app/src
      - ./data:/app/data
      - ./models:/app/models

  test:
    build:
      context: .
      target: tester #pytest (/test)
    networks:
      - myapp
    depends_on:
      api:
        condition: service_healthy

networks:
  myapp:
    driver: bridge