services:
  app:
    build: .
    ports:
      - "8080:8080"

  jupyter:
    build: .
    command: jupyter lab --ip=0.0.0.0 --port=8888 --no-browser --allow-root --NotebookApp.token=''
    ports:
      - "8888:8888"

networks:
  myapp:
    driver: bridge
